.recipe-img {
  width: 100%; /* Full width of the column */
  height: 200px; /* Fixed height for uniformity */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  border-radius: 8px; /* Optional: adds rounded corners */
}

.filter-response h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #674188; /* Match recipe link color */
  margin-bottom: 20px; /* Optional spacing */
}

.recipe-title {
  font-size: 0.9rem;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  color: #674188;
}


@media (max-width: 1200px) {
  .recipe-img {
    height: 180px;
  }
}

@media (max-width: 992px) {
  .recipe-img {
    height: 160px;
  }
}

@media (max-width: 768px) {
  .recipe-img {
    height: 140px;
  }
}

@media (max-width: 576px) {
  .recipe-img {
    height: 120px;
  }
}
