
.ingredients-box {
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 8px; /* Rounded corners */
  background-color: #f8f9fa; /* Light background */
  padding: 15px; /* Padding inside the box */
}
.recipe-item {
  margin-bottom: 20px; /* Space between recipe items */
}

/* Section Styles */
.recipe-links {
  padding: 20px;
  background-color: #F7EFE5;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

td {
  text-align: center;
  padding: 10px;
  vertical-align: top;
}


td img {
  width: 100%;
  height: auto;
  max-width: 200px;
  border-radius: 10px;
}

td p {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.1em;
}

.star {
font-size: 24px;
color: #ccc;
}

.star:hover,
.star:hover ~ .star {
color: #ffcc00;
}
